extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    +box-head("Đăng ký tài khoản mới")

    .card.shadow-sm.rounded
      .card-body
        form(action="/user/register" method="POST" novalidate)
          .mb-4
            label.form-label(for="fullName") Họ và tên
            input#fullName.form-control(type="text" name="fullName" placeholder="Nhập họ tên..." required)
          
          .mb-4
            label.form-label(for="email") Email
            input#email.form-control(type="email" name="email" placeholder="Nhập email..." required)
          
          .mb-4
            label.form-label(for="password") Mật khẩu
            input#password.form-control(type="password" name="password" placeholder="Nhập mật khẩu..." required minlength="6")
          
          button.btn.btn-primary.w-100(type="submit") Đăng ký
