extends ../../layouts/default.pug

block main
    h1.mb-4 Trang tổng quan
    ul
        li Tổng số người dùng: <b>#{totalUser}</b>
        li Tổng số người dùng: <b>#{totalUser}</b>
        li Tổng số ca sĩ: <b>#{totalSinger}</b>
        li Tổng số chủ đề: <b>#{totalTopic}</b>
